.container{
    padding: 20px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color:var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px
}

.search{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius:10px;
    border: none;
}
.input.middle:focus {
    outline-width: 0;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--textSoft);
}

.icons{
    display: flex;
    gap: 20px;
}

.icons :hover{
    cursor: pointer;
}
